# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
venv/
ENV/
env/
.venv/
venv.bak/
pythonenv/

# PyInstaller
# Usually contains build artifacts
*.manifest
*.spec

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Log files
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/
cover/
*.cover
*.py,cover

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# IDE / Editor specific
.vscode/
.idea/
*.swp
*.swo

# macOS files
.DS_Store

# Environment variables / keys
*.env
.env.*
*.ini

# Streamlit specific
.streamlit/
